.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #202020;
    z-index: var(--z-fixed);
    padding: 10px 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
}

.nav__title {
    color: #fff;
    transition: color 0.4s;
    font-size: 1.5rem;
    font-family: var(--second-font);
    font-weight: 700;
}

.nav__logo {
    margin-right: 20px;
    object-fit: scale-down;
    width: 50px;
}